@model IEnumerable<Album>
@*<select name="genre">
    <option>Rock</option>
    <option>Disco</option>
    <option>Metal</option>
</select>*@

<div class="row mb-4">
    <div class="col-sm-6">
        <div class="form-group">
            <form asp-action="Index" method="get">
                <label class="form-label">Filter by genre: </label>
                <select class="form-control" onchange="this.form.submit()" name="genre" asp-items="@ViewBag.genreList">
                    <option selected="true" value="">No Filter</option>
                </select>
            </form>
        </div>
    </div>
    <div class="col-sm-6">
        <form asp-action="Index" method="get">
            <div class="form-group">
                <label class="form-label">
                    Search by title: 
                </label>
                <input class="form-control" type="text" name="title"/>
                <input type="submit" value="Search" class="btn btn-outline-primary"/>
            </div>

        </form>
    </div>

</div>


<table class="table table-dark table-striped">
    <tr>
        <th>
            Title
        </th>
        <th>
            Genre
        </th>
        <th>
            Artist
        </th>
        <th>
            Price
        </th>
        <th>
            Publisher
        </th>
        <th>
            Actions
        </th>
    </tr>
    @*loop throw the albums*@
    @foreach(Album a in Model)
    {
        <tr>
            <th>
                @a.Title
            </th>
            <th>
                @a.Genre
            </th>
            <th>
                @a.Artist
            </th>
            <th>
                @a.Price
            </th>
            <th>
                @a.Publisher.Name, @a.Publisher.City
            </th>
            <th>
                @*Link that goes to the AlbumController, the Details endpoint and passes the
                    Id of the Album to the id parameter of the Details method
                *@
                <a asp-controller="Album" asp-action="Details" asp-route-id="@a.Id">Details</a> |
                <a asp-controller="Album" asp-action="Edit" asp-route-id="@a.Id">Edit</a> |
            </th>
        </tr>
    }
</table>