@*
    Tell the view what kind of object to expect - Model
*@
@model List<Employee>
<h2>This is the employee Index page</h2>

@foreach(Employee employee in Model){
    <p>ID: @employee.Id</p>
    <p>First Name: @employee.FirstName</p>
    <p>Last Name: @employee.LastName</p>
    <p>Employee Id: @employee.EmployeeId</p>
    <p>Active: @employee.Active</p>
    <a asp-action="Details" asp-route-id="@employee.Id">See Details</a>
}
